.form-wrapper {
  width: 786px;
  margin: 0 auto;
}

.form-header {
  text-align: center;
}

.question-form {
  margin-top: 30px;
}

.labels {
  text-align: right;
}

.question {
  margin-bottom: 30px;

  .question-text {
    width: 300px;
    display: inline-block;
  }

  .scale {
    float: right;
  }
}

.scale-item {
  width: 50px;
  display: inline-block;
  text-align: center;
}

.question-form-submit {
  text-align: center;
}

.progress-bar-wrapper {
  margin-top: 90px;
  text-align: center;

  .progress-label {
    margin-bottom: 4px;
  }

  .center-block {
    width: 50%;
  }
}
