.labels {
  margin-left: 300px;
}

.question {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .question-text {
    flex: 0 0 300px;
  }
}

.scale-item {
  width: 50px;
  display: inline-block;
  text-align: center;
}